body {
	background-color: black;
  
}

/* navbar */

.navbar {
  background: linear-gradient(to right, #434343 0%, black 100%);
}

.logo {
  margin: - 1px auto 0;
  z-index: 1;
  position: absolute; 
   width:  400px; 
   height: 400px; 
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  top: -140px;
  left: -75px;
  
}

nav {
   
  margin: 27px auto 0;
  z-index: 1;
  position: absolute;
  right: 110px;
  top: 0px;
  width: 590px;
  height: 50px;
  background: linear-gradient(to right, #434343 0%, black 100%);
  border-radius: 8px;
  font-size: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 130px;
  
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 110px;
}
a:nth-child(3) {
  width: 100px;
}
a:nth-child(4) {
  width: 160px;
}
a:nth-child(5) {
  width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: #4FD1C5;
}
nav .start-about, a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
  background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
  background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
  width: 160px;
  left: 310px;
  background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
  width: 120px;
  left: 470px;
  background-color: #e67e22;
}

body {
  font-size: 12px;
  font-family: sans-serif;
  background: transparent;
}
h1 {
  text-align: center;
  margin: 40px 0 40px;
  text-align: center;
  font-size: 30px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Cherry Swash', cursive;
}

span {
    color: #2BD6B4;
}

/* navbar End */

/* Header */
.button {
  min-width: 200px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: white;
  /* background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%); */
  background-color: transparent;
  border: 1px solid white;
  border-radius: 130px;
  /* box-shadow: 12px 12px 24px rgba(79,209,197,.64); */
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: absolute;
  padding: 10px;
  z-index: 2;
  transform: skewY(-20deg);
  top: 750px;
  left: 600px;
  
  }

button::before {
content: '';
  border-radius: 130px;
  min-width: calc(200px + 5px);
  min-height: calc(60px + 5px);
  border: 1.5px solid white;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 1px solid #ffffff;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* Position text in the middle of the page/image */
.bg-text {

  filter: opacity(-50%);
  background-image: url("/Users/denisdanailov/Desktop/WebProject/img/19362653 copy.png");
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4);/* Black w/opacity/see-through */
  color: white; 
  font-weight: bold;
  border: 1px solid#ffffff; 
  position: absolute;

  left: 38%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: 58.4%;
  height: 700px;
  border-radius: 130px;
  
  -ms-transform: skewY(-20deg);
  -webkit-transform: skewY(-20deg);
  transform: skewY(-20deg);
  border-radius: 130px;
  position: absolute;
  
  top: 0px;
  left: 30px;
}
/* Services */

.serviceBox{
  font-family: 'Poppins', sans-serif;
  position: relative;
  z-index: 3;
  left: 900px;
  top: 300px;
}

.serviceBox .service-icon:before{
  content: "";
  background-color: white;
  width: 12px;
  height: 12px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: -107px;
  left: -162px;
  
}

.serviceBox .service-content{
  padding: 453px 0 20px 20px;
  margin: 10px 0 0 -11px;
  border: 1px solid white;
  border-top: none;
  border-right: none;
  border-radius: 0 0 0 15px;
  position: relative;
  left: 250px;
  
  
}
.serviceBox .service-content:before,
.serviceBox .service-content:after{
  content: "";
  width: 150%;
  height: 50%;
  border: 1px solid white;
  border-left: none;
  border-bottom: none;
  border-radius: 0 14px 0 0;
  position: absolute;
  top: -101px;
  right: 265px;
  
}
.serviceBox .service-content:after{
  background: white;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  bottom: -7px;
  right: -2px;
  top: auto;
  left: auto;
}
.serviceBox .title{
  color: #9E43C0;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.serviceBox .description{
  color: #777;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 0;
}
@media only screen and (max-width: 990px){
  .serviceBox{ margin: 0 0 30px; }
}

.serviceBox2{
  font-family: 'Poppins', sans-serif;
  position: relative;
  z-index: 3;
  left: 560px;
  top: -321px;
}

.serviceBox2 .service-icon2:before{
  content: "";
  background-color: white;
  width: 12px;
  height: 12px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: -17px;
  left: 178px;
  
}

.serviceBox2 .service-content2{
  padding: 453px 0 20px 20px;
  margin: 10px 0 0 -11px;
  border: 1px solid white;
  border-top: none;
  border-right: none;
  border-radius: 0 0 0 15px;
  position: relative;
  left: 260px;
  
  
}
.serviceBox2 .service-content2:before,
.serviceBox2 .service-content2:after{
  content: "";
  width: 26%;
  height: 50%;
  border: 1px solid white;
  border-left: none;
  border-bottom: none;
  border-radius: 0 14px 0 0;
  position: absolute;
  top: -11px;
  right: 230px;
  
}
.serviceBox2 .service-content2:after{
  background: white;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  bottom: -7px;
  right: -2px;
  top: auto;
  left: auto;
}
.serviceBox2 .title2{
  color: #9E43C0;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.serviceBox2 .description2{
  color: #777;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 0;
}
@media only screen and (max-width: 990px){
  .serviceBox2{ margin: 0 0 30px; }
}


/* Services End */
 
.wrapper {
  width: 100%;
  height: 1600px;
  background: linear-gradient(to right, #434343 0%, black 100%);
  position: relative;
  /* border-radius: 150px; */
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  /* border-bottom-right-radius: 50%; */
  
}
.background-shape {

background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);



  width: 98.4%;
  height: 800px;
  -ms-transform: skewY(-20deg);
  -webkit-transform: skewY(-20deg);
  transform: skewY(-20deg);
  border-radius: 130px;
  position: absolute;
  
  top: 0px;
  left: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
  
}
.content {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 120px;
  left: 30%;
  z-index: 10;
}


/* Header End */

/* Hero */
.hero-logo {
  
  align-items: center;
  background: linear-gradient(to right, #434343 0%, black 100%);
  
}
.logo-photo {
  
  opacity: 20%;
  position: relative;
 left: 1385px;
 bottom: 600px;
}

/* Hero section */
:root {
  --color:  linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  position: relative;
  background: transparent;
  color: transparent;
  height: 300px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.hero h2 {
  position: relative;
  z-index: 1;
  font-size: 4.5rem;
  margin: 0 0 10px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
}

.hero p {
  position: relative;
  z-index: 1;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.4;
  font-weight: lighter;
}

/* ========================= */

.waves {
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: var(--color);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 500ms;
  z-index: 2;
  
}

.waves::before,
.waves::after {
  content: '';
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background:  linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  animation: waves 8s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background: rgba(51, 51, 51, 0.5);
  animation: waves 15s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.box-content {
  width: 100%;
  height: 600px;
  background: linear-gradient(to right, #434343 0%, black 100%);
  position: relative;
  /* border-radius: 150px; */
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  /* border-bottom-right-radius: 50%; */
  
}

.background-shape-content {

  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

  width: 98.4%;
  height: 800px;

  box-shadow: 0 2px 30px rgba(black, .2);
  background-color: black;
  background: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);

  border: 2px solid white;
  border-radius: 430px;
  position: absolute;
  right: 500px;
  top:1400px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}


.wave {
  opacity: .4;
  position: absolute;
  top: 20%;
  left: 20%;
  background: #0af;
  width: 1800px;
  height: 1280px;
  margin-left: -350px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 143%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: yellow;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title1 {
  position: absolute;
  left: 150px;
  top: 50px;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color:  white;
  /* text-transform: uppercase; */
  font-family: 'Parisienne', cursive;
  /* letter-spacing: .4em; */
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
  font-weight:100;
  font-size: 90px;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.discription {

  font-size: 27px;
  font-weight: lighter;
  position: absolute;
  padding-left: 150px;
  padding-right: 120px;
  left: 400px;
  top: 280px;
  text-align: center;
  color: #fff;
  
}

/* Hero section End */

/* Footer section  */
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

/* End Footer section  */